* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background: url("./bg.jpg") no-repeat center;
    background-size: cover;
}

